<div class="header__wrap">
  <div class="header__logo-wrap">
    <img src="../../../assets/images/emoji.png" alt="logo" width="70" class="logo__img">
    <span class="logo__text">Emotions</span>
  </div>
  <nav class="header__navigation">
    <ul class="navigation">
      <li class="navigation__item">About us</li>
      <li class="navigation__item">Pass the test</li>
      <li class="navigation__item">It's interesting</li>
      <li class="navigation__item">Contact us</li>
    </ul>
  </nav>
  <button class="header__login-button">LogIn</button>
</div>
