@font-face {
  font-family: 'Gill Sans';
  src: url('~src/assets/fonts/GillSansLightC.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Didot';
  src: url('~src/assets/fonts/Didot.woff2') format('woff2');
  font-display: block;
  font-weight: normal;
}

@font-face {
  font-family: 'Didot';
  src: url('~src/assets/fonts/Didot-Bold.woff2') format('woff2');
  font-display: block;
  font-weight: bold;
}
