@import "variables";

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text__paddings {
  background-color: $white-4-opacity;
  padding: 50px 30px 50px 50px;
  height: 450px;
  border-radius: 35px;
}

.text__wrap {
  padding-right: 20px;
  overflow: scroll;

  height: 350px;
}

.image {
  display: block;
  height: 450px;
}

.text {
  line-height: 30px;
  text-align: justify;
}
