<div class="text__paddings">
  <div class="text__wrap">
    <h1>Title of the article</h1>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio dolorum iste libero minima nesciunt
      reiciendis sunt? Exercitationem fugit minus nemo quas quisquam quo recusandae repudiandae tempore! Eaque, eveniet,
      molestias.
    </p>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio dolorum iste libero minima nesciunt
      reiciendis sunt?
    </p>
  </div>
</div>
<img class="image" src="./assets/images/shape-happy.png" alt="intro photo">
